table.dataTable td, table.dataTable th {
  vertical-align: middle !important;
  line-height: 2em;
}

table tbody h6 {
  margin: 0.2rem 0;
}

.dataTable td span, 
.dataTable td a {
  vertical-align: middle;
}